

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Playpen+Sans:wght@200;300&display=swap');





*{ 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --color-a:#F875AA;
    --color-b:#FFDFDF;
    --color-c:#FFF6F6;
    --color-d:#AEDEFC;
    --color-e:#9c1549;

    /* fuentes */
    --fuente-a:'Dancing Script';
    --fuente-b: 'Playpen Sans';
    
}

body{
    height: 200vh;
}
.barra-superior{
    width: 100%;
    height: 60px;
    background-color: var(--color-a);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #AEDEFC 0px 5px 15px;
    
    
}

img{
    height: 80%;
    display: flex;
    
}

a{
    text-decoration: none;
    color: var(--color-c);
    font-size:1.5em;
    transition-duration: .5s;
    -webkit-transition-duration: .8s;
    margin: 20px;
    font-family:var(--fuente-b);
    
}

a:hover{
    font-size: 2em;
    text-shadow: var(--color-e) 5px 5px 15px;
    transition-duration: .5s;
    /* -webkit-transition-duration: var(--color-e) .8s; */
    
    
    
}

.banner{
    width: 100%;
    height: 350px;
    background-image: url(../assets/48465.png);
    background-size: cover;
    background-position:bottom;
    
}

